.container {
  width: 100%;
  background-color: #1c2b33;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-weight: bold;
  color: #fff;
  background-image: url(../../../public/about1.avif);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .heading {
    font-size: 1.8rem !important;
font-weight: bolder !important;
height: 70vh !important;

}
}


.valueContent {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 20px; 
  flex-wrap: wrap; 
}
.valueContent .valueimg {
  width: 500px;
  height: auto;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .valueContent {
    flex-direction: column; 
    align-items: center; 
  }

  .valueContent div {
    margin-left: 0; 
    margin-right: 0; 
    margin-top: 20px; 
  }
  .valueContent .valueimg {
    width: 300px;
    height: auto;
    border-radius: 20px;
  }
  .valuesSection{
    padding: 0;
  }
}



.storySection,
.teamSection,
.valuesSection {
  padding: 40px;
}
.storySection,
.teamSection {
  border-bottom: 2px solid #b9d9eb;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
}
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
  }
  
  .card {
    width: 300px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .cardTitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #0d47a1;
  }
  
  .cardDescription {
    font-size: 1rem;
    color: #616161;
  }
.cardwrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}  