.container {
    padding: 2rem;
    background-image: linear-gradient(to bottom, #1c2b33, #1c2b33, #7f8b89, #bac0bc, #f7f8f5);
  }
  
  .aboutUs {
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 10px;
    color: white;
    text-align: center;
  }
  
  .heading {
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    color: white;

  }
  
  .mission {
    color: white;

  }
  
  .featuredTours {
    margin-top: 2rem;

  }
  
  .tourCard {
    position: relative !important;
    border-radius: 10px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    gap: 10px !important;
    overflow: hidden !important;
    height: 320px !important;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    border-radius: 15px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  }
  
  
  .learnMoreButton {
    margin-top: 1rem;
    background-color: #E44D2E;
    color: white;
  }
  
  .learnMoreButton:hover {
    background-color: #e44c2ecd;

  }
  